body {
    font-family: "Sarabun", sans-serif !important;
}

.Sarabun {
    font-family: "Sarabun", sans-serif !important;
}

.mt-10 {
    margin-top: 10px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-10 {
    margin-top: 10px;
}

.card-border {
    width: fit-content;
    max-width: 100%;
    background-color: #ffffff81;
    color: #e6e6e6;
    border-radius: 20px;
    /* cursor: pointer; */
    box-shadow: 8px 8px 12px 0 rgba(187, 187, 187, 0.2);
    text-align: center;
}


.btn-download {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 80%;
    letter-spacing: 1px;
    display: inline-block;
    padding: 5px 5px;
    border-radius: 10px;
    transition: 0.3s;
    line-height: 1;
    background: #ffe0b1;
    color: #ffffff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #4b0f0f;
    cursor: pointer;
}

.btn-download:hover {
    /* background: #4b0f0f8f; */
    color: #ffffff;
    text-decoration: none;
}


#chart-container {
    position: relative;
    height: 30vh;
    overflow: hidden;
}

.active {
    background: #2989c5;

}

a:hover {
    cursor: pointer;
}

input {
    font-size: 20px;
    color: #4b2323;
}

.border-card {
    border: 2px solid #4b0f0f;
    border-radius: 5px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 20px;
    background-color: #ffffff;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

}

.btn-memu {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: #fdf8ef;
    box-shadow: 8px 8px 12px 0 rgba(209, 209, 209, 0.2);
    /* border: 2px solid #68553f; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #68553f;
    transition: 0.2s;
    font-family: 'Sarabun', sans-serif;
    font-size: 18px;
    text-align: center;
}

.btn-memu i {
    padding: 0 16px 0 12px;
    font-size: 24px;
}

.btn-memu:hover {
    box-shadow: 8px 8px 12px 0 rgba(187, 187, 187, 0.2);
    background-color: #68553f;
    color: #faf4eb;
    cursor: pointer;
}