body {
    font-family: "Sarabun", sans-serif !important;
}

.Sarabun {
    font-family: "Sarabun", sans-serif !important;
}

.mt-10 {
    margin-top: 10px;
}

.mt-5 {
    margin-top: 5px;
}

.card-border {
    width: fit-content;
    max-width: 100%;
    background-color: #ffffff;
    color: #e6e6e6;
    border-radius: 15px;
    /* cursor: pointer; */
    box-shadow: 8px 8px 12px 0 rgba(187, 187, 187, 0.2);
}

.btn-download {
    font-family: "Nunito", sans-serif;
    /* font-weight: 600; */
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 9px 9px;
    border-radius: 8px;
    transition: 0.3s;
    line-height: 1;
    background: #ffffff86;
    color: #4b4b4b;
    /* -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px; */
    border: 1px solid #dadada6e;
    ;
    cursor: pointer;
}

.btn-download:hover {
    background: #88888886;
    /* color: rgb(32, 32, 32)6e; */
    text-decoration: none;
}

#chart-container {
    position: relative;
    height: 30vh;
    overflow: hidden;
}

.active {
    background: #2989c5;

}

a:hover {
    cursor: pointer;
}

.border-card {
    border: 2px solid #4b0f0f;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 8px 8px 12px 0 rgba(187, 187, 187, 0.2);

}